@{
    ViewBag.Title = "Resumen ejecutivo";
    int? idCliente = (int?)ViewBag.idCliente;

}
<div style="background-color: #eee; padding: 10px; height: 160PX;" class="head-module">
    <form id="frmBuscar">
        <br />
        <span style="margin-right:35px" class="modulo-titulo">@ViewBag.Title</span>
        <br />
        <br />
        @if (idCliente == null)
        {
            @Html.Partial("~/Views/Partials/Filtros/_ClienteCoordinador.cshtml")
            @Html.Partial("~/Views/Partials/Filtros/_Plaza.cshtml")
        }
        else
        {
            @Html.Partial("~/Views/Partials/Filtros/_Promotores.cshtml", idCliente)
        }

    </form>
</div>
<hr />
<div id="divGrid2">

</div>

<script>

    $(document).ready(function () {

        //eliminamos y ponemos el body en fluid
        $(".body-content").removeClass("container");
        $(".body-content").addClass("container-fluid");


         $("#frmBuscar").submit(function (e) {

            e.preventDefault();
             idCliente = $("#cboCliente").prop("value");
             idPlaza = $("#cboPlaza").prop("value");
            fechaInicio = $("#fechaInicio").prop("value")
            fechaFin = $("#fechaFin").prop("value");
            idCoordinador = $("#cboCoordinadores").prop("value");
            idPromotor = $("#cboPromotores").prop("value");
            if (idCliente == "") {
                idCliente = 0;
             }
             if (idPlaza == "") {
                 idPlaza = 0;
             }
            if (idPromotor == "") {
                idPromotor = 0;
            }
            if (idCoordinador == "") {
                idCoordinador = 0;
             }
             url = "@Url.Content("~/ReporteAsistenciaFechaEnEspecifico/Listado")" + "?idCliente=" + idCliente + "&fechaInicio=" + fechaInicio + "&fechaFin=" + fechaFin + "&idPromotor=" + idPromotor + "&idCoordinador=" + idCoordinador + "&idPlaza=" + idPlaza
             parametros = $(this).serialize();
             console.log(parametros);
             $.post(url, parametros, function (data) {

                 $("#divGrid2").html(data);

             })
        })


    })


</script>
