@model IntegramsaUltimate.Models.ViewModels.InventarioViewModel
@{
    Layout = null;
}

<form id="frmFormulario">
    @Html.HiddenFor(d => d.IdInventario)
    @Html.HiddenFor(d => d.Cliente)
    <div class="bloque" style="margin-top:15px;">
        
        <div style="margin-top:10px">
            @Html.LabelFor(d => d.Cantidad)
            @Html.TextBoxFor(d => d.Cantidad)
        </div>
        <div style="text-align:center; margin-top:10px">
            <input class="btn-success" type="submit" value="Guardar" />
        </div>

    </div>

</form>

<script>

    $(document).ready(function () {

        //actualizar el formulario
        $("#frmFormulario").submit(function (e) {

            e.preventDefault();

            jsShowWindowLoad();

            url="@Url.Content("~/InventarioMasivo/GuardarEditar")"
            parametros = $(this).serialize();

            $.ajax({
                type: "POST",
                url: url,
                data: parametros,

                success: function (data) {

                    if (data == "1") {
                        MensajeExito("Producto editado con éxito");
                        jsCloseDialog();

                        jsRefrescaGrid("tabla")
                    } else {
                        MensajeError(data);
                    }
                    jsRemoveWindowLoad();
                },
                error: function (r) {
                    jsRemoveWindowLoad();
                    MensajeError("Error del servidor");
                }
            });

        })

    })
</script>