@model IntegramsaUltimate.Models.ViewModels.CadenaViewModel
@{
    Layout = null;
}

<form id="frmFormulario" >  
    <div class="bloque">
        <div>
            @Html.LabelFor(d => d.nombre)
            @Html.TextBoxFor(d => d.nombre)
        </div>
        <div>
            <br />
            @Html.LabelFor(d => d.idGiro)
            @Html.DropDownListFor(d => d.idGiro, (SelectList)ViewBag.lstGiros)
        </div>
        <div>
            <br />
            @Html.LabelFor(d => d.cadena)
            @Html.TextBoxFor(d => d.cadena)
        </div>
        <br />
        <div style="text-align:right;">
            <input class="btn-success" type="submit" value="Guardar" />
        </div>

    </div>
   
</form>

<script>

    $(document).ready(function () {

        //actualizar el formulario
        $("#frmFormulario").submit(function (e) {

            e.preventDefault();

            jsShowWindowLoad();

            url="@Url.Content("~/Cadena/Guardar")"
            parametros = $(this).serialize();
           
            $.ajax({
                type: "POST",
                url: url,
                data: parametros,
  
                success: function (data) {

                    if (data == "1") {
                        MensajeExito("Cadena agregada con éxito");
                        jsCloseDialog();

                        jsRefrescaGrid("tabla")
                    } else {
                        MensajeError(data);
                    }
                    jsRemoveWindowLoad();
                },
                error: function (r) {
                    jsRemoveWindowLoad();
                    MensajeError("Error del servidor");
                }
            });

        })

    })
</script>