@{
    ViewBag.Title = "Productos";
}

<div style="background-color:#eee;padding:10px" class="head-module">
    <span style="margin-right:35px" class="modulo-titulo">@ViewBag.Title</span>


    <span class="boton-style" style="float:right" onclick="jsNuevo()">
        <img class="boton-image" src="~/Images/icon_new_element.png" />
    </span>
    
    <span>
        <label>Clientes</label>
        @Html.DropDownList("cboClientes", (SelectList)ViewBag.lstClientes, null, new { style = "width:200px;" })
    </span>
</div>
<hr />
<div id="divGrid">

</div>

<script>
    var idClienteSeleccionado;
    $(document).ready(function () {
        $("#cboClientes").change(function () {

            idClienteSeleccionado = $(this).prop("value");
          
            url = "@Url.Content("~/Producto/Listado")" + "?idCliente=" + idClienteSeleccionado

            $("#divGrid").load(url);

        })

        $("#cboClientes").change(); //invocamos el listado

    })

    //funciones

    function jsNuevo() {

        idCliente = $("#cboClientes").prop("value");

        url = "@Url.Content("~/Producto/Nuevo")" + "?idCliente=" + idCliente;
        jsShowDialog(url, 400, 350, "Nuevo Producto")
    }

    function jsEditar(id) {

        url = "@Url.Content("~/Producto/Editar")" + "?id=" + id;
        jsShowDialog(url, 400, 350, "Editar Producto")
    }

    function jsEliminar(id) {
        if (confirm("¿Estas seguro de eliminar el producto?")) {

            url = "@Url.Content("~/Producto/Eliminar")";
            parametros = "id=" + id;
            jsShowWindowLoad();

            $.post(url, parametros, function (data) {

                if (data == "1") {
                    MensajeExito("Eliminado.")
                    jsRefrescaGrid("tabla")
                } else {
                    MensajeError(data) //trae el error data
                }

                jsRemoveWindowLoad();
            })


        }
    }
</script>
