@{
    ViewBag.Title = "Formatos de tienda";
}


<div style="background-color:#eee;padding:10px" class="head-module">
    <span style="margin-right:35px" class="modulo-titulo">@ViewBag.Title</span>

   

    <span class="boton-style" style="float:right" onclick="jsNuevo()">
        <img class="boton-image" src="~/Images/icon_new_element.png" />
    </span>
    <span>
        <label>Cadenas</label>
        @Html.DropDownList("cboCadenas", (SelectList)ViewBag.lstCadenas,null, new { style="width:200px;"})
    </span>
</div>
<hr />
<div id="divGrid">
    
</div>

<script>

    $(document).ready(function () {
        $("#cboCadenas").change(function () {

            idCadena = $(this).prop("value");
            
            url = "@Url.Content("~/Formato/Listado")"+"?idCadena="+idCadena
            
            $("#divGrid").load(url);

        })

        $("#cboCadenas").change(); //invocamos el listado

    })

    //funciones

    function jsNuevo() {

        idCadena = $("#cboCadenas").prop("value");

        url="@Url.Content("~/Formato/Nuevo")"+"?idCadena="+idCadena;
        jsShowDialog(url, 400,150, "Nuevo Formato")
    }

    function jsEditar(id) {

        url="@Url.Content("~/Formato/Editar")"+"?id="+id;
        jsShowDialog(url, 400,150, "Editar Formato")
    }

    function jsEliminar(id){
        if(confirm("¿Estas seguro de eliminar el formato?")){

            url = "@Url.Content("~/Formato/Eliminar")";
            parametros = "id=" + id;
            jsShowWindowLoad();

            $.post(url, parametros, function (data) {

                if (data == "1") {
                    MensajeExito("Eliminado.")
                    jsRefrescaGrid("tabla")
                } else {
                    MensajeError(data) //trae el error data
                }

                jsRemoveWindowLoad();
            })


        }
    }
</script>
